# Python virtual environments
venv/
ENV/
env/
.venv/

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Static files
static/
staticfiles/
assets/

# Migration files
**/migrations/

# SQLite database files
db.sqlite3
*.sqlite3